.body {
    margin: 0;
    padding: 0;
}

.academic {
    background-color: #023047;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

#academic-link a:hover {
    color: #219EBC;
}

.academic_grid {  
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0px 10px;
    grid-template-areas: "photo words";
}

#academic-link a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 44px;
}

.photo {
    grid-area: photo;
    filter: drop-shadow(0px 5px 2px #000000);
    padding: 15%;
}

.words {
    grid-area: words;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
    padding-right: 15%;
} 

.gradient {
    background: rgb(142,202,230);
    background: linear-gradient(90deg, rgba(142,202,230,0.10136554621848737) 0%, rgba(142,202,230,0.7512254901960784) 50%, rgba(142,202,230,0.3982843137254902) 100%);
    max-width: 100vw;
    height: 1.5vh;
}

.lounge {
    background-color: #8ECAE6;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #023047;
}

.lounge_grid {  
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0px 10px;
    grid-template-areas: "words photo";
    padding: 5%;
  }

#lounge-link a {
    text-decoration: none;
    font-weight: bold;
    color: #023047;
    font-size: 44px;
}

#lounge-link a:hover {
    color: #219EBC;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 22px;
	font-weight: bolder;
    color: #023047;
	font-family: 'Open Sans', sans-serif;
	align-content: center;
    padding-top: 2vh;
}

h4 {
    font-size: 16px;
    font-weight: bolder;
    color: #023047;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.column {
    flex: 1; /* Each column occupies equal space */
    padding: 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column; /* Change direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center the content horizontally within each column */
}

.heading {
    margin-bottom: 10px; /* Add space after the heading */
}

.column img {
    margin-top: 10px; /* Add space above the image */
    max-width: 100%; /* Ensure image doesn't exceed column width */
	margin-bottom: 35px;
}

.icon-container {
    display: flex;
    justify-content: center;
	padding-bottom: 5px;
}

footer {
    background-color: #023047;
    color: white;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.footer-paragraph {
    text-align: center;
	font-size: 8px;
    font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}
ul.social-icons {
    text-align: center;
	padding-left: 0px;
}

ul.social-icons img {
    width: 36px; 
    height: 36px; 
    vertical-align: middle; 
}

ul.social-icons li {
    display: inline-block;
    margin: 0 10px; 
}
.logo-container {
    margin-top: 5px; /* Add space above the logo */
    margin-bottom: 30px; /* Add space below the logo */
    text-align: center; /* Center the logo horizontally */
}

.logo-container img {
    max-width: 150px; /* Set maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the logo is centered properly */
    margin: 0 auto; /* Center the logo horizontally */
}